.headerContainer {
    width: 100%;

    .headerWrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem;
        background-image: url("../../assets/9836407.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 114% 416%;
        background-position: 62% 71%;

        .headerLeft {
            display: flex;
            justify-content: space-between;
            flex: 1 0 5%;
            align-items: center;

            .headerLeftLogo {
                background-image: url("../../assets/finance-bank-piggy-business-money-svgrepo-com.svg");
                background-repeat: no-repeat;
                background-size: cover;
                width: 87px;
                height: 73px;
            }
        }

        .headerRight {
            flex: 1 0 50%;
            display: flex;
            justify-content: flex-end;
        }
    }
}