.homePageContainer {
    width: 100%;
    height: 90vh;
    background-image: url("../../assets/MC.jpg");
    background-repeat: no-repeat;
    background-size: 110% 120%;
    background-position: 55% 27%;
}